{% extends "layout.html" %}
{% block body %}

<h1>CSV file manager</h1>

<span style='color: red;'>
  {% if error %}
  {{ error }}
  {% endif %}
</span>

<!-- Uploader -->
<form action='/upload' method='post' enctype="multipart/form-data" >
  <input type="file" name="file" size="40">
  <input type="submit" value="Upload">
</form>

<br/>

<!-- Edit box -->
<textarea id='editor' type='textarea' placeholder='Data will be shown here. ' name='editor' rows='30' style="width: 100%">
{% if contents %}
{{ contents }}
{% endif %}
</textarea>

<button type='button'> Update CSV </button>
<div id='upload_result'></div>

<script type="text/javascript">
  $(function() {

    function update(result) {
      $('#upload_result').html(JSON.stringify(result));
    }

    $(':button').click( function() {

      console.log("button clicked")

      var contents = ''

      $.ajax({
          url: '/update',
          type: 'POST',
          //Ajax events
          success: function(result) {
            // Put it into the text area
            update("Updated: " + result);
            $('#editor').val(result);
          },
          error: function(error) {
            update("Error: " + error);
          },
          data: formData,
          contentType: 'text/csv'
      });
    });

  });
</script>

{% endblock %}
