{% extends "layout.html" %}
{% block body %}

<h1>CSV file manager</h1>

<span style='color: red; font-size: 3em;'>
  {% if error %}
  {{ error }}
  {% endif %}
</span>

<!-- Uploader -->
<form action='/upload' method='post' enctype="multipart/form-data" >
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>

<br/>

{% if content_table %}

<table>
  {% for row in content_table %}
    <tr>
      {% for column in row %}
        <td> {{ column }} </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

{% endif %}

<!-- Allow updating the CSV content -->
<form action="/update" method="post">
  <!-- Edit box -->
  <textarea id='contents' type='textarea' placeholder='Data will be shown here. ' name='contents' rows='16' style="width: 100%">
    {% if contents %}
      {{ contents }}
    {% endif %}
  </textarea>
  <input type="submit" value="Update CSV">
</form>

<!-- Allow exporting the CSV content -->
<form action="/export">
    <input type="submit" value="Export">
</form>

{% endblock %}
